

* {

  margin: 0px;
	color: rgb(255, 255, 255); 
  background-color: #d9d8e3;
  text-decoration: none;
  box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, sans-serif;
	font-weight: 700;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.anime--Card{
  display: flex;
  flex-wrap: wrap;
  
}

.anime--div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 225px;
  margin: 1.5rem;
  position: relative;
  
}
.anime--div h3{
  overflow-wrap: break-word;
}
.anime--div img{
  border-radius: 30px;
}
.anime--div h3{
  background-color: transparent;
	text-shadow: 2px 2px #000000;
  text-align: center;
}
.anime--div button{
  background-color: transparent;
  position: absolute;
            bottom: 20px;
            left: 10px;
  
						display: inline-block;
						outline: none;
						cursor: pointer;
						font-size: 16px;
						line-height: 10px;
						font-weight: 600;
						border-radius: 8px;
						padding: 10px 18px;
						border: none;
						transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
						background: linear-gradient(to right, rgb(68, 161, 233) 0%, rgb(170, 54, 228) 50%, rgb(156, 47, 189) 100%);
						color: #fff;
					 
}
.search-box{
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}
.search-box input{
  font-size: 1.5rem;
  border-radius: 10px;
  
}







